html,
body,
.main {
    height: 100%;
    padding: 0;
    margin: 0;
}

.sr-only {
    visibility: hidden;
    margin: 0;
}

.container {
    padding: 0 6em 0 6em;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90vh;
}
.main__panel {
    margin: 0.5em;
    height: 100%;
    border-radius: 5rem;
    position: relative;
    transition: 0.7s ease-in-out;
    background-size: auto 100%;
    background-position: center;
    background-repeat: no-repeat;
    flex: 0.5;
    cursor: pointer;
}
.panel1 {
    background-image: url(images/image1.jpg);
}
.panel2 {
    background-image: url(images/image2.jpg);
}
.panel3 {
    background-image: url(images/image3.jpg);
}
.panel4 {
    background-image: url(images/image4.jpg);
}
.panel5 {
    background-image: url(images/image5.jpg);
}

.panel__description {
    position: absolute;
    color: white;
    bottom: 0rem;
    left: 2rem;
    opacity: 0;
}

.active {
    flex: 5;
    background-size: auto 100%;
}

.active .panel__description {
    opacity: 1;
    transition: opacity 0.3s ease-in 0.4s;
}
